footer#footer.mt-5
  .container.mt-2
    .row.text-center.text-xs-center.text-sm-left.text-md-left
      .col-xs-12.col-sm-4.col-md-4
        h5 Информация
        ul.list-unstyled.quick-links
          li
            a(href='#')
              i.fa.fa-angle-double-right
              | Мобильные приложения
          li
            a(href='#')
              i.fa.fa-angle-double-right
              | Помощь

          li
            a(href='#')
              i.fa.fa-angle-double-right
              | Платные услуги
          li
            a(href='#')
              i.fa.fa-angle-double-right
              | Реклама на сайте
          li
            a(href='#')
              i.fa.fa-angle-double-right
              | Условия использования
      .col-xs-12.col-sm-4.col-md-4
        h5 Быстрые ссылки
        ul.list-unstyled.quick-links
          li
            a(href='#')
              i.fa.fa-angle-double-right
              | Политика конфиденциальности
          li
            a(href='#')
              i.fa.fa-angle-double-right
              | Партнёры
          li
            a(href='#')
              i.fa.fa-angle-double-right
              | Как продавать и покупать?
          li
            a(href='#')
              i.fa.fa-angle-double-right
              | Правила безопасности
          li
            a(href='#')
              i.fa.fa-angle-double-right
              | Карта сайта
      .col-xs-12.col-sm-4.col-md-4
        h5 Наш проект
        ul.list-unstyled.quick-links
          li
            a(href='#')
              i.fa.fa-angle-double-right
              | Карта регионов
          li
            a(href='#')
              i.fa.fa-angle-double-right
              | Карьера в OLX
          li
            a(href='#')
              i.fa.fa-angle-double-right
              | Обратная связь
          li
            a(href='#')
              i.fa.fa-angle-double-right
              | O нас
          li
            a(href='#' title='Design and developed by')
              i.fa.fa-angle-double-right
              | Наша команда
    .row
      .col-xs-12.col-sm-12.col-md-12.mt-2.mt-sm-5
        ul.list-unstyled.list-inline.social.text-center
          li.list-inline-item
            a(href='#')
              i.fa.fa-facebook
          li.list-inline-item
            a(href='#')
              i.fa.fa-twitter
          li.list-inline-item
            a(href='#')
              i.fa.fa-instagram
          li.list-inline-item
            a(href='#')
              i.fa.fa-google-plus
          li.list-inline-item
            a(href='#' target='_blank')
              i.fa.fa-envelope
      hr
    .row
      .col-xs-12.col-sm-12.col-md-12.mt-2.mt-sm-2.text-center.text-white
        p
          u
            a(href='/') National Transaction Corporation
          |  is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]
        p.h6
          | &copy; All right Reversed.
          a.text-green.ml-2(href='' target='_blank') Sunlimetech
      hr



script( src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
script( src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
script( src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
script(src='../js/all.min.js')
script(src='../js/script.js')